{% extends 'list_auto/base_template.html' %}
{% load fw_paginator %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block css_header_extend %}
    <link rel="stylesheet" href="{% static 'vue_utils/theme.css' %}">
    <link rel="stylesheet" href="{% static 'assert/theme.css' %}">
{% endblock %}


{% block main_content_block %}
    <section class="hot_propose">
        <div class="container">
            <h4>Список машин</h4>

            {% for car in car_list %}
                <div class="row align-items-start justify-content-center d-flex flex-row car_propose m-2 p-1">
                    <div class="col-md-4 col-sm-12 row justify-content-center">
                        <img src="{% get_media_prefix %}/{{ car.car_code }}/ImageThumb.jpg">
                    </div>
                    <div class="col-md-8 col-sm-12 d-flex flex-column">
                        <div class="col-12 p-3 bd-highlight align-self-center text-center">{{ car.model_version }}</div>
                        <div class="col-12">
                            {% include 'list_auto/short_list_info.html' with car=car %}
                        </div>
                        <div class="col-sm-12 col-md-12 row">
                            <div class="p-3 bd-highlight p-text-left col-6">
                                <svg class="icon-svg dollar" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="{% static 'assert/dollars_money.svg' %}#dollars"
                                         href="{% static 'assert/dollars_money.svg' %}#dollars">
                                    </use>
                                </svg>
                                {{ car.get_price|intcomma }} ₩
                            </div>
                            <div class="p-2 bd-highlight p-text-right col-6">
                                <a href="{% url 'car_detail' car.pk %}" class="btn btn-primary">Детально</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container">
            <div class="row d-flex d-flex-row justify-content-center">
                {% paging_navigation page_obj %}
            </div>

        </div>
    </section>
{% endblock %}